body{
    margin: 0;
    padding: 0;
}

h1{
   font-weight: bold;
}

table{
    background-color: #F1EBE7;
}

thead {
    font-weight: bold;
    color: #F1EBE7;
    background-color: #815B43;
}

tr {
    border: 1px solid black;
}

#menuList{
    width: 700px;
    height: 600px;
    margin: 0 auto;
    text-align: center;
}

#menuList > h1 {
    margin-left: 40px;
    margin-right: 40px;
}

#listTable {
    margin: auto;
    width: 650px;
}

.menu_del{
    border: none;
    border-radius: 15px;
    color: #CAD4FB;
    background-color: #C3291C;
}

.menu_del:hover {
    color: #C3291C;
    background-color: #CAD4FB;
}