.orderMain{
    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 50px;
}

.orderBtn{
    position: fixed;
    right: 100px;
    bottom: 480px;
}
.orderBtn > button{
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 35px;
    background-color: black;
}