body {
    padding: 20px;
    background-color: #F1EBE7;
    width: 1200px;
}

main {
    width: 1200px;
    margin: 0 auto;
}


form {
    width: 960px;
    border-top: 1px solid black;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
}


#changeSubmit {
    margin-top: 20px;
    margin-right: 10px;
    border: none;
    border-radius: 0.5em;
    font-size: 25px;
    background-color: #CAD4FB;
    color: #C3291C;
    text-shadow: -1px 0 black, 1px 0 black, -1px 0 black, 1px 0 black;
    margin-bottom: 15px;
    height: 48px;
    padding: 0px 16px 0px 16px;
}

#changeSubmit:hover {
    text-shadow: none;
    color: white;
    background-color: #C3291C;
}

#goHome {
    font-size: 22px;
    border: none;
    border-radius: 0.5em;
    color: black;
    background-color: #fff;
    height: 48px;
    padding: 0px 16px 0px 16px;
}

#goHome:hover {
    color: white;
    background-color: black;
    border: 1px solid #CAD4FB;
}