body {
    padding: 20px;
    background-color: #F1EBE7;
}

main {
    margin-left: 30px;
}
form {
    width: 960px;
    border-top: 1px solid black;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
}

#changeSubmit {
    margin-top: 20px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 25px;
    background-color: black;
    color: white;
    margin-bottom: 15px;
}

#changeSubmit:hover {
    color: black;
    background-color: white;
}

#goHome {
    font-size: 25px;
    border: none;
    border-radius: 15px;
    color: #CAD4FB;
    background-color: #C3291C;
}

#goHome:hover {
    color: #C3291C;
    background-color: #CAD4FB;
}
