
footer {
    background-color: #815B43;
    color: white;
    height: 300px;
}
#ftop {
    padding-top: 10px;
    text-align: right;
    padding-bottom: 20px;
    text-decoration: none;
    color: white;
}


#fmain{
    width: 85%;
    margin-left: 20px;
    float: left;
}

#fmain > h6{
    padding-bottom: 8px;
}

#fmain > h6 > a {
    text-decoration: none;
    color: white;
}

#service {
    width: 160px;
    height: 60px;
    text-align: right;
    float: left;
}


.ftaga{
    text-decoration: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

#servicecenterbtn{
    border-radius: 30px;
    background-color: #C6371E;
    color: white;
    border: none;
    font-size: 30px;
    padding: 5px 20px 5px 20px;
}

