@charset "UTF-8";
*{
	list-style: none;
}

body {
	background-color: #F1EBE7;
}

ul {
	padding-inline-start: 0px;
}

#bg {
	height: 170px;
}

.taga {
	text-decoration: none;
	color: black;
	font-weight: normal;
}

header {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	position: fixed;
}

#menu > a {
	float: left;
	margin-right: 40px;
	text-decoration: none;
}

#menu {
	margin: 0;
	padding: 0;
	font-weight: bold;
	background-color: white;
}


#menu > #menubars, .menutitle{
	list-style-type:none;
	float:left;
	font-size: 30px;
	background-color: white;
}

.menutitle {
	padding-bottom: 30px;
	margin-right: 25px;
}

#menubars > li > ul > li{
	font-size: 14px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

#menu > #menubars, .menutitle, button{
	margin-top: 30px;
}

.submenu {
	display:none;
}


#menu > #menubars:hover .submenu{
	display:block;
}

#menu > #menubars:hover .taga{
	-webkit-animation: fadein 2s;
}

#deliverybtn {
	margin-left: 50px;
	border-radius: 30px;
	background-color: #C6371E;
	color: white;
	border: none;
	font-size: 30px;
	padding: 5px 20px 5px 20px;
}

@-webkit-keyframes fadein { /* Safari and Chrome */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}