#member {
    margin-top: 10px;
    background-color: white;
	text-align: right;
    width: 100%;
    height: 25px;
}

#member > a{
    margin-right: 15px;
    padding: 5px;
    border-radius: 10px;
    background-color: #C6371E;
    color: white;
}